<form (submit)="updatePatient()">
    <div class="container">
        <h1>Update Patient Details</h1>
        <p>Please fill in this form to update the details of patient</p>
        <hr />

        <input type="text" [(ngModel)]="patient.name" name="patient.name" placeholder="Enter Name of Patient"
            required />
        <input type="email" [(ngModel)]="patient.email" name="patient.email" placeholder="Enter Email" required />
        <input type="tel" [(ngModel)]="patient.phone" name="patient.phone" placeholder="Enter Mobile Number" required />
        <input type="text" [(ngModel)]="patient.address" name="patient.address" placeholder="Enter Address" required />
        <input type="text" [(ngModel)]="patient.city" name="patient.city" placeholder="Enter City Name" required />
        <input type="text" [(ngModel)]="patient.state" name="patient.state" placeholder="Enter State" required />
        <input type="text" [(ngModel)]="patient.pincode" name="patient.pincode" placeholder="Enter Pincode" required />

        <input type="date" [(ngModel)]="patient.appointment_date" name="patient.appointment_date"
            placeholder="Enter date of appointment" required />
        <input type="text" [(ngModel)]="patient.symptoms" name="patient.symptoms"
            placeholder="Enter symptoms of the Patient" required>
        <label for="doctor">Select your Doctor</label>
        <select [(ngModel)]='patient.doctor' name="patient.doctor" required>
            <option value="" disabled selected>Select the Doctor</option>
            <option value="rajnish">Dr. Rajnish Patel</option>
            <option value="shivam">Dr. Shivam Singh</option>
            <option value="sundar">Dr. Sundar Raj Singh</option>
        </select>
        <input type="password" [(ngModel)]='patient.password' name="patient.password" placeholder="Enter Password"
            required />

        <hr />

        <button type="submit" class="registerbtn">
            Update
        </button>
    </div>
</form>