<div>
    <!-- home section -->
    <section id="home">
        <div class="row no-gutters">
            <div class="col-md-12">
                <div class="bg-image">
                    <!-- <img src="img/intro-bg.jpg"> -->
                    <div class="home-content text-center">
                        <h1>Catalyst</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing</p>
                        <a href="#about" class="button">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="section-title text-center">
                <h2>About Us</h2>
                <hr />
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-10">
                    <div class="about-image">
                        <!-- <img src="img/about.jpg"> -->
                        <div class="bg-image"></div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-10">
                    <div class="about-text">
                        <h3>Lorem ipsum dolor sitamet consectetur</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                            sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis
                            bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam
                            commodo nibh.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                            sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis
                            bibendum dolor.
                        </p>

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-10">
                                <ul>
                                    <li>Lorem ipsum dolor</li>
                                    <li>Consectetur adipiscing</li>
                                    <li>Duis sed dapibus leo</li>
                                    <li>Sed commodo nibh ante</li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-10">
                                <ul>
                                    <li>Lorem ipsum dolor</li>
                                    <li>Consectetur adipiscing</li>
                                    <li>Duis sed dapibus leo</li>
                                    <li>Sed commodo nibh ante</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- services section -->

    <section id="service" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>Our Services</h2>
                        <hr />
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed
                            dapibus leonec.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <i class="fa fa-home"></i>
                    <h4>Lorem ipsum</h4>
                    <p>
                        Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus
                        eleifend pellentesque natoque etiam.
                    </p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <i class="fa fa-umbrella"></i>
                    <h4>Dolor sit amet</h4>
                    <p>
                        Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus
                        eleifend pellentesque.
                    </p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <i class="fa fa-gears"></i>
                    <h4>Tempus eleifend</h4>
                    <p>
                        Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus
                        eleifend pellentesque natoque etiam.
                    </p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <i class="fa fa-language"></i>
                    <h4>Pellentesque</h4>
                    <p>
                        Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus
                        eleifend pellentesque natoque.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- pricing section -->
    <section id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2>Pricing</h2>
                        <hr />
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed
                            dapibus leonec.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <ul class="price">
                        <li class="header">Basic</li>
                        <li class="charge">$10</li>
                        <li><strong>1 GB</strong> Disk Space</li>
                        <li><strong>1GB</strong> Monthly Bandwidth</li>
                        <li><strong>3</strong> Domains</li>
                        <li><strong>3</strong> Email Accounts</li>
                        <li><strong>Free</strong> Setup</li>
                        <li>
                            <a href="#" class="button">Order Now</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <ul class="price">
                        <li class="std-header">Standard</li>
                        <li class="charge">$20</li>
                        <li><strong>10 GB</strong> Disk Space</li>
                        <li><strong>10GB</strong> Monthly Bandwidth</li>
                        <li><strong>10</strong> Domains</li>
                        <li><strong>10</strong> Email Accounts</li>
                        <li><strong>Free</strong> Setup</li>
                        <li class="std-last-list">
                            <a href="#" class="std-button">Order Now</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <ul class="price">
                        <li class="header">Professional</li>
                        <li class="charge">$30</li>
                        <li><strong>20 GB</strong> Disk Space</li>
                        <li><strong>20GB</strong> Monthly Bandwidth</li>
                        <li><strong>20</strong> Domains</li>
                        <li><strong>20</strong> Email Accounts</li>
                        <li><strong>Free</strong> Setup</li>
                        <li>
                            <a href="#" class="button">Order Now</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- contact section -->
    <section id="contact" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>Contact Us</h2>
                        <hr />
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed
                            dapibus leonec.
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-container">
                <form method="post" action="#" class="form-data">
                    <div class="row ">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <input type="text " class="form-control " placeholder="Name " />
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <input type="email " class="form-control " placeholder="Email " />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <textarea class="form-control" type="text" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button class="button">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="social">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="container">
            <p>
                Copyright &copy; 2021 Catalyst. Designed by Rajnish Patel

            </p>
        </div>
    </footer>
</div>