<form (submit)="login()">
    <div class="container">
        <h1>Login</h1>
        <p>Please fill in this form to Login</p>
        <hr />

        <label for="email"><i class="fa fa-envelope"></i> <strong>Email</strong></label>
        <input type="email" [(ngModel)]="email" name="email" placeholder="Enter Your Email" required />
        <label for="password"><i class="fa fa-key"></i><strong>Password</strong></label>

        <input type="password" [(ngModel)]="password" name="password" placeholder="Enter Password" required />

        <label for="role"><i class="fa fa-universal-access"></i><strong>Role</strong></label>
        <select [(ngModel)]="role" name="role" required>
            <option value="" disabled selected>Select your Role</option>
            <option value="patient">Patient</option>
            <option value="doctor">Doctor</option>
            <option value="admin">Admin</option>
        </select>
        <hr />

        <button type="submit" class="loginbtn">
            Login
        </button>

    </div>
</form>