<div *ngIf="doctorsList">
  <form (submit)="bookAppointment()">
    <div class="container">
      <h1>Book Appointment</h1>
      <p>Please fill in this form to book an Appointment</p>
      <hr />

      <input type="text" [(ngModel)]="name" name="name" placeholder="Enter Name" required />
      <input type="email" [(ngModel)]="email" name="email" placeholder="Enter Email" required />
      <input type="tel" [(ngModel)]="phone" name="phone" placeholder="Enter Mobile Number" required />
      <input type="text" [(ngModel)]="address" name="address" placeholder="Enter Address" required />
      <input type="text" [(ngModel)]="city" name="city" placeholder="Enter City Name" required />
      <input type="text" [(ngModel)]="state" name="state" placeholder="Enter State" required />
      <input type="text" [(ngModel)]="pincode" name="pincode" placeholder="Enter Pincode" required />

      <input type="date" [(ngModel)]="appointment_date" name="appointment_date" placeholder="Enter date of appointment"
        required />
      <input type="text" [(ngModel)]="symptoms" name="symptoms" placeholder="Enter symptoms of the Patient" required />
      <label for="doctor">Select your Doctor</label>

      <!-- <div *ngFor="let doctorr of doctorsList">
        <h2>{{ doctorr.name }}</h2>
      </div> -->

      <select [(ngModel)]="doctor" name="doctor" required>

        <option *ngFor="let doctorr of doctorsList" value="{{ doctorr.name }}">
          {{ doctorr.name }}
        </option>
      </select>

      <input type="password" [(ngModel)]="password" name="password" placeholder="Enter Password" required />
      <input type="password" [(ngModel)]="cpassword" name="cpassword" placeholder="Confirm Password" required />
      <hr />

      <button type="submit" class="registerbtn">Book Appointment</button>
    </div>
  </form>
</div>