<div *ngIf="appointmentDetails">


    <!-- Appointment details   -->
    <div class="header">
        <h1>Appointment Requests</h1>
    </div>
    <div class="info">
        <table id="customers">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>City</th>
                <th>Symptoms</th>
                <th>Appointment(YYYY-MM-DD)</th>
                <th>Status</th>
                <th>Action</th>
            </tr>



            <tr *ngFor="let patient of appointmentDetails">
                <td>{{patient.name}} </td>
                <td>{{patient.email}} </td>
                <td>{{patient.phone}} </td>
                <td>{{patient.city}} </td>
                <td>{{patient.symptoms}} </td>
                <td>{{patient.appointment_date}} </td>
                <div *ngIf="patient.appointment;then thenBlock;else elseBlock"></div>
                <ng-template #thenBlock>
                    <td>Confirmed</td>
                </ng-template>
                <ng-template #elseBlock>
                    <td>waiting</td>
                </ng-template>
                <td>
                    <button (click)="updateStatus('confirmed',patient.id)">Confirm </button>
                    <button (click)="updateStatus('rejected',patient.id)">Reject</button>
                    <button (click)="updateStatus('visited',patient.id)">Visited</button>
                </td>

            </tr>

        </table>
    </div>
</div>