<div *ngIf="appointmentRequests">
  <!-- Appointment reqquests   -->
  <div class="header">
    <h1>Appointment Requests</h1>
  </div>
  <div class="info">
    <table id="customers">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>City</th>
        <th>Symptoms</th>
        <th>Appointment(YYYY-MM-DD)</th>
        <th>Action</th>
      </tr>

      <tr *ngFor="let patient of appointmentRequests">
        <td>{{ patient.name }}</td>
        <td>{{ patient.email }}</td>
        <td>{{ patient.phone }}</td>
        <td>{{ patient.city }}</td>
        <td>{{ patient.symptoms }}</td>
        <td>{{ patient.appointment_date }}</td>
        <td>
          <button (click)="handleAppointmentRequest('cancel', patient.id)">
            Cancel
          </button>
          <button (click)="handleAppointmentRequest('approve', patient.id)">
            Approve
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
